DB_HOST=localhost
DB_USER=root
DB_PASS=182806
DB_NAME=job_portal
JWT_SECRET=job_portal_secret_2026_super_secure_key_123456
ELASTICSEARCH_URL=http://localhost:9200
ES_USERNAME=elastic
ES_PASSWORD=changeme